*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

}


/* header top */

.header {
    font-family: 'Roboto', sans-serif;
}

.header-top {
    background-color: #303030;

   
}

.header-btn {
    float: right;
    color: #1b1b1b ;
    line-height: 36px;
    background-color: #ffc222;
    font-size: 16px;
    padding: 5px 20px 4px 20px;
    display: flex;
    position:relative;
    
}

.header-btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    color: #1b1b1b;
    left: 0;
    margin-right: 7px;
    align-content: center;
    
}

.header-contacts:after{
    content:"";
    clear: both;
    display: block;
}

.header-phone,
.header-email{
    color:#cbcacb;
    letter-spacing: 0.5px;
    line-height: 44px;
    display: inline-flex;

}

.header-phone{
    padding-left: 20px;
    padding-right: 30px;
}

.header-phone:before{
    content: "\f095";
    font-family: 'icomoon';
    color: #ffc222;
    left: 0;
    margin-right: 7px;
}

.header-email{
    padding-left: 24px;
}

.header-email:before{
    content: "\f003";
    font-family: 'icomoon';
    color: #ffc222;
    left: 0;
    margin-right: 7px;
}

.header-content-inner {
    display: flex;
    justify-content: space-between;
}

.header-content {
    padding: 34px 0 23px; 
}



.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 8px 16px;
    transition: all 0.3s;
}

.menu a:hover {
   border-color:  #ffc222;
}

.menu li+li {
    padding-left: 10px;
}


#modal {
    display: none;
}

/* СЛАЙДЕР */


.slider {
    background-image: url(../img/slider-fon.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
   
}

.slider-item-content {
    text-align: center;
    padding-top:140px;
    padding-bottom: 50px;
    max-width: 665px;
    margin: 0 auto;
}

.slider-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider-text {
     line-height: 24px;
     font-size: 18px;
     color: #d3d2d2;
     margin-bottom: 50px;
}

   

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;

}


.default-btn:after {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.slider-inner{
    position: relative;
    
}
.slick-btn {
    position: absolute;
    top:60%;
    z-index: 3;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
   
    cursor: pointer;
    outline: none;
    background-color: #ffc222;

}

.slick-btn.slick-disabled{
    background-color: transparent;
    cursor: default;
}

.slick-btn:before {
    font-family: 'icomoon';
    color: #fff;

}

.slick-next:before {
    content: "\f105";
}
.slick-prev:before {
    content: "\f104";
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}


/* Services*/


.services {
    padding: 50px 0 30px 0 ;
}

.services-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services-title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
   
}

.services-title-box:before {
    content: "";
    background-color: #ffc222;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 10px;
}

.services-title {
 font-size: 24px;
 font-weight: 500;
 line-height: 24px;
 color: #212020;
 font-family: 'Roboto', sans-serif;
 margin-bottom: 10px;


}

.services-text {
    letter-spacing: 0.1px;
    color: #5e5e5e;
}

.services-btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 6px 38px;
    border: 3px solid #e6e6e6;
}

.services-items {
    display: flex;
    justify-content: space-between;
}

.services-item {
 max-width: 360px;
 text-align: center;
 padding: 30px 0 80px ;
 position: relative;
min-height: 365px;
box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89 ,89 ,0.14);
}

.services-item-title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services-item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
    color: #5e5e5e;

}

.services-item-btn {
    position: absolute;
    bottom:40px;
    left: 0;
    right: 0;
     
}

.services-item-btn .default-btn {
    color: #373636;
}

.services-item-btn .default-btn::after {
    
    color: #fff;
}

.services-item-link {
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}


/* ABOUT */


.about {
background-image: url(../img/about-fon.jpg);
background-size: cover;
background-position: center;
min-height: 300px;
padding: 25px 0 45px 0;
}

.about-inner {
   max-width: 550px;
}

.about-title {
    font-size: 24px;
    padding: 10px 0 25px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.about-text {
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}

.about-btn.default-btn:after {
    color: #000;
}
